.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 425px;
    margin: 0 auto;
    padding: 20px;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 2rem;
}

.logo {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
}

.infoPhoto {
    width: 100%;
    height: fit-content;
    max-width: 300px;
    margin: 2rem 1rem;
}

.header {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #005668;
    margin-top: 0;
}

.moreInfo {
    width: 330px;
    left: 35px;
    top: 392px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668; 
}

.gotItBtn {
    width: 195px;
    height: 47.92px;
    left: 103px;
    top: 744px;
    background: #79E79A;
    border:none;
    border-radius: 10px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}

.buttonStyle {
    display: flex;
    justify-content: center;
}