.container {
    display: flex;
    flex-direction: column;
}

.infoPhoto {
    size: 20%;
}

.header {
    position: absolute;
    width: 323px;
    height: 33px;
    left: 34px;
    top: 279px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.moreInfo {
    position: absolute;
    width: 323px;
    height: 384px;
    left: 42px;
    top: 336px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gotItBtn {
    height: 50px;
    background: #79E79A;
    border: none;
    border-radius: 10px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}