.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    // width: 425px;
    // margin: 0 auto;
    // padding: 20px;
    // padding-left: 2rem;
    // padding-right: 2rem;
    // margin-top: 2rem;
}

.headerContainer {
    width: 324px;
    float: left;
}

.logo {
    max-width: 50%;
    height: auto;
    margin-top: 1rem;
}

.infoPhoto {
    width: 100%;
    height: fit-content;
    align-content: center;
    max-width: 247px;
    margin-bottom: 2rem;
}

.header {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}

.moreInfo {
    width: 330px;
    left: 35px;
    top: 392px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668; 
}

.gotItBtn {
    width: 128px;
    height: 48px;
    left: 103px;
    top: 744px;
    background: #79E79A;
    border:none;
    border-radius: 33px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}