.headerContainer {
    width: 324px;
    float: left;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
}

.img {
    object-fit: contain; // Or 'contain' if you want to keep the aspect ratio without cropping
    height: 289px;
    width: 289px;
    display: block;
    margin: 0 auto;
}

.uploadedImage {
    object-fit: contain; // Or 'contain' if you want to keep the aspect ratio without cropping
    height: 50vh;
    width: 390px;
    display: block;
    margin: 0 auto;
    padding:1%;
    // max-width: 100%;
    // height: auto;
    // border-radius: 5px;
}

.thankyou {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}

.header {
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
    width: 320px;
}

.paragraphBox {
    width: 320px;
    margin: auto;
}

.paragraph {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}

.link {
    width: 83px;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
    border-bottom: solid rgba(63, 190, 139, 1);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #005668;
}

.shareText {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #005668;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    width: 150px;
    
}

.photoButton {
    text-align: center;
    width: 160px;
    height: 48px;
    background: #79E79A;
    border-radius: 20px;
    font-family: 'Comfortaa';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.022em;
    color: #005668;
    margin-top: 20px;
}

// .signOutBtn {
//     width: 92px;
//     height: 32px;
//     left: 312px;
//     top: 48px;
//     background: #79E79A;
//     border: none;
//     border-radius: 6px;
//     font-family: 'Comfortaa';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 150%;
//     letter-spacing: -0.022em;
//     color: #005668;
//     margin: 1%;
// }