.img {
    height: 50vh;
}

.header {
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #0A1F28; 
    margin: 30px 0 40px 0;
}

.paragraphBox {
    border-radius: 10px;
    width: 320px;
    margin: auto;
    padding: 20px 20px;
    background: rgb(221, 255, 221);
}

.paragraph {
    margin-bottom: 20px;
}

.link {
    font-weight: bold;
    display: block;
    text-align: center;
}

.photoButton {
    width: 151px;
    height: 60px;
    font-family: 'Comfortaa';
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.022em;
    color: #0A1F28;
    border-radius: 10px;
    background: rgb(97, 222, 97);
    border: none;
    width: 320px;
    margin: auto;
    margin-top: 30px;
    display: block;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin: 45px 25px 30px 25px;
}