.img {
    height: 50vh;
    width: 390px;
    display: block;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-family: 'Comfortaa';
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    letter-spacing: -0.022em;
    color: #0A1F28;
    margin: 10px 0 10px 0;
}

.paragraphBox {
    border-radius: 10px;
    width: 320px;
    margin: auto;
    padding: 15px 15px;
    background-color: whitesmoke;
}

.paragraph {
    margin-bottom: 10px;
}

.link {
    font-weight: bold;
    display: block;
    text-align: center;
    font-size: 18px;
}

.shareText {
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}

.buttonContainer {
    display: flex;
    justify-content: space-around;
    margin: 15px auto;
    width: 150px;
}

.photoButton {
    width: 150px;
    height: 60px;
    font-family: 'Comfortaa';
    font-weight: 700;
    font-size: 18px;
    font-style: normal;
    border-radius: 10px;
    background: rgb(97, 222, 97);
    border: none;
    margin: auto;
    margin-top: 30px;
    display: block;
    letter-spacing: -0.022em;

    color: #005668;

    background: #79E79A;
    border: 3px solid #3FBE8B;
    border-radius: 33px;
}

// width: 200px;
// height: 82px;
// left: 35px;
// top: 385px;

// font-family: 'Comfortaa';
// font-style: normal;
// font-weight: 700;
// font-size: 36px;
// line-height: 150%;
// /* or 54px */

// letter-spacing: -0.022em;

// color: #005668;

// background: #79E79A;
// border: 3px solid #3FBE8B;
// border-radius: 33px;