html,
body {
    padding:0;
    margin:0;
}

@media only screen and (max-width: 393px) {
    .logo {
        max-width: 40%;
        height: auto;
        margin-left: 30px;
        margin-top: 30px;
      }
}

@media only screen and (min-width: 834px) {

}