.container {
  display: flex;
  flex-direction: column;
  width: 425px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
}


.logo {
    max-width: 50%;
    height: auto;
}

// header
.header {
width: 323px;
height: 88px;
left: 35px;
top: 161px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 130%;
/* or 52px */

letter-spacing: -0.022em;

color: #005668;

margin-top: 90px;

}

//text below
.slogan {
width: 301px;
height: 80px;
left: 35px;
top: 269px;

font-family: 'Comfortaa';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 150%;
/* or 30px */

letter-spacing: -0.022em;

color: #005668;
margin-top: 10px;
}

.startButton {
  width: 200px;
  height: 82px;
  left: 35px;
  top: 385px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
  /* or 54px */

  letter-spacing: -0.022em;

  color: #005668;

  background: #79E79A;
  border: 3px solid #3FBE8B;
  border-radius: 33px;
}

.img {
  position:fixed;
  bottom:0px;
  left: 50%;
  transform: translateX(-50%);
  height: 55vh;
  width: auto;
  z-index: -1;
}
