.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  overflow: hidden;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.container {
  display: flex;
  flex-direction: column;
  width: 390px;
  margin: 0 auto;
  padding: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  min-height: calc(100vh - 55vh);
}

.logo {
  max-width: 50%;
  height: auto;
}

// header
.header {
  width: 323px;
  height: 88px;
  left: 35px;
  top: 161px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  /* or 52px */

  letter-spacing: -0.022em;

  color: #005668;

  margin-top: 60px;

}

//text below
.slogan {
  width: 301px;
  height: 80px;
  left: 35px;
  top: 269px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  /* or 30px */

  letter-spacing: -0.022em;

  color: #005668;
  margin-top: 10px;
}

.startButton {
  width: 128px;
  height: 52.07px;
  left: 35px;
  top: 385px;

  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  /* or 54px */

  letter-spacing: -0.022em;

  color: #005668;

  background: #79E79A;
  border: none;
  border-radius: 33px;
}


// @media only screen and (min-width: 400px) {

//   .img {
//     position:fixed;
//     bottom:0px;
//     left: 50%;
//     transform: translateX(-50%);
//     height: 55vh;
//     width: auto;
//     z-index: -1;

//   }
// }

.imgContainer {
  display: flex;
  justify-content: center;
}


.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 100vh;
}


.spacer {
  flex-grow: 1;
}


.img {
  max-width: 40vh;
  max-height: 35vh;
  width: auto;
  z-index: -1;
}


@media only screen and (max-height: 800px) {
  .img {
    height: 45vh; // Decrease height for shorter screens
    max-width: 50vh; // Decrease max-width for shorter screens
  }
}