.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navBar {
  display: flex;
  flex-direction: row;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(81, 200, 148, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
 
.popupInner {
  width: 250px;
  height: 640px;
  left: 35px;
  top: 160px;
  background: linear-gradient(0deg, #FFFFFF, #FFFFFF);
  border-radius: 20px;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: scroll;
}

.logo {
  max-width: 50%;
  height: 25px;
}


.signOutBtn {
  width: 92px;
  height: 32px;
  left: 312px;
  top: 48px;
  background: #79E79A;
  border:none;
  border-radius: 6px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668;
}

.title {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.022em;
  color: #005668;
  padding-right: 1rem;
  margin-bottom: 0;
}

.name {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.022em;
  color: #005668;
  margin-bottom: 0px;
}

.type {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -0.022em;
  text-align: center;
  color: #005668;
  margin-top: 0px;
  margin-bottom: 30px;
}

.text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  letter-spacing: -0.022em;
  color: #005668;
  border-bottom: 2px solid #3FBE8B;
  padding-bottom: 1rem;
  margin-top: 10px;
}

.btnStyle{
    display: flex;
    justify-content: space-between;
}

.completedBtn {
  width: 150px;
  height: 44px;
  left: 185px;
  top: 684px;
  background: #79E79A;
  border-radius: 20px;
  border: none;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668;
}

.backBtn {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668;
  width: 94px;
  height: 44px;
  background: #FFFFFF;
  border: 2px solid #79E79A;
  border-radius: 20px;
}

.headerContainer {
  width: 324px;
  float: left;
}

.header {  
  margin-bottom: 0px;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668;
}

.taskBtn {
  width: 335px;
  height: 48px;
  left: 38px;
  top: 167px; 
  background: #FFFFFF;
  border: none;
  margin-top: 16px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668; 
  background: #E5F7EF;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding-left: 30px;
}

.completedTask {
  width: 335px;
  height: 48px;
  left: 38px;
  top: 167px; 
  background: #FFFFFF;
  border: none;
  margin-top: 16px;
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.022em;
  color: #005668;
  background: #79E79A;
  border-radius: 15px;
  background-color: #79E79A;

}

// .taskcontainer{
//   text-align: center;
// }